<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>servlets.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question02Servlet</servlet-name>
        <servlet-class>servlets.Question02Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question02Servlet</servlet-name>
        <url-pattern>/Question02Servlet</url-pattern>
    </servlet-mapping>
</web-app>
